# Ignore everything
/*

# Git
!/.gitignore
!/readme.md
!/license.md
!/.github

# Docker
!Dockerfile

# Go
!/go.mod
!/go.sum
!/*.go

!/discord
!/github
!/commands
!/utils
!/backgroundcat
!/versioncheck